@import "./variables.css";
@import "./fonts.css";
@import './top-bar.css';

/* Start Default Styles */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(17, 24, 39);
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: var(--primary-font);
  direction: rtl;
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 400ms ease;
}

a:hover {
  color: #1e83f0;
}

i {
  user-select: none;
}

/* Finish Default Styles */

/* Start Navbar Styles */

.main-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.main-header__right {
  display: flex;
}

.main-header__menu {
  display: flex;
}

.main-header__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 1rem;
}

.main-header__link {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  color: var(--white-color);
}

.main-header__link:hover {
  color: #7f8187;
}

.main-header__link-icon {
  margin-right: 1rem;
  display: flex;
  align-self: center;
}

/* Start DropDown Styles */

.main-header__dropdown {
  position: absolute;
  top: 5.5rem;
  left: 0;
  right: 0;
  background-color: var(--dark-color);
  transition: all 200ms ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  width: 24rem;
  z-index: 1;
  padding: 1rem 0;
  border-bottom: 3px solid var(--primary-color);
  opacity: 0;
  visibility: hidden;
}

.main-header__item:hover .main-header__dropdown {
  opacity: 1;
  visibility: visible;
  top: 6.5rem;
}

.main-header__dropdown-link {
  display: block;
  padding: 0.6rem 2rem;
  font-size: 1.4rem;
  color: var(--white-color);
  transition: all 400ms ease;
}

.main-header__dropdown-link:hover {
  color: #1e83f0;
}

/* Finish DropDown Styles */

.main-header__left {
  display: flex;
  align-items: center;
}

.main-header__search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
}

.main-header__search-icon {
  color: var(--white-color);
  font-size: 2.2rem;
}

.main-header__cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  background-color: #f0f2f7;
}

.main-header__cart-btn:hover {
  color: #1e83f0;
}

.main-header__cart-icon {
  color: var(--dark-color);
  font-size: 2.2rem;
  transition: all 400ms ease;
}

.main-header__profile {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  margin-right: 1rem;
  transition: all 400ms ease;
  color: var(--primary-color);
  height: 4.3rem;
}

.main-header__profile:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Finish Navbar Styles */



/* Start landing Styles */

.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../images/background_landing.jfif) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 5rem 0;
  color: var(--white-color);
}

.landing__title {
  font-size: 3.4rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.landing__subtitle {
  font-size: 1.8rem;
  margin-top: 0.3rem;
}

.landing__searchbar {
  width: 700px;
  position: relative;
  margin: 3.5rem auto;
}

.landing__searchbar-input {
  width: 100%;
  padding: 2.5rem;
  border: none;
  border-radius: 1rem;
}

.landing__searchbar-btn {
  border: none;
  background-color: var(--primary-color);
  position: absolute;
  left: 1rem;
  width: 5rem;
  top: 0.7rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.landing__searchbar-icon {
  font-size: 2rem;
  color: var(--white-color);
}

.landing-status {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.landing-status__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-status__item svg {
  fill: var(--white-color);
}

.landing-status__count {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.landing-status__text {
  font-weight: bold;
}

/* Finish landing Styles */


/* Start Lateset Courses Styles */

.courses {
  margin: 4rem 0;
}

.courses-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses-header__right {
  display: flex;
  flex-direction: column;
}

.courses-header__text {
  color: #e6e6e6;
  font-size: 1.5rem;
}

.courses-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.courses-header__link:hover {
  color: var(--white-color);
}

.courses-header__icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.course-box {
  background-color: var(--white-color);
  box-shadow: 0 0 19px rgba(168, 172, 185, 0.3);
  border-radius: 1rem;
  margin: 2rem 0;
  transition: all 400ms ease;
}

.course-box:hover {
  transform: translateY(-0.6rem);
}

.course-box__img {
  width: 100%;
  border-radius: 1rem 1rem  0 0;
}

.course-box__main {
  padding: 0 1.2rem;
}

.course-box__title {
  display: block;
  padding: 1rem 0;
}

.course-box__rating-teacher {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-box__teacher {
  display: flex;
  align-items: center;
}

.course-box__teacher-icon {
  color: #6c757d;
  font-size: 1.8rem;
}

.course-box__teacher-link {
  color: #6c757d;
  font-size: 1.2rem;
  margin-right: 0.4rem;
}

.course-box__star {
  margin: -0.2rem;
}

.course-box__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.course-box__users-icon {
  color: #6c757d;
  font-size: 1.6rem;
}

.course-box__users-text {
  color: #6c757d;
  font-size: 1.4rem;
}

.course-box__price {
  color: #9c9c9c;
  font-size: 1.8rem;
}

.course-box__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 0;
  border-top: 1px solid #e8e8e8;
}

.course-box__footer-link {
  display: flex;
  align-content: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.course-box__footer-icon {
  margin-right: 0.5rem;
  font-size: 1.9rem;
}

/* Finish Latest Courses Styles */

/* Start About Us Styles */

.about-us {
  margin: 6rem 0;
}

.about-us__header {
  display: flex;
  flex-direction: column;
}

.about-us__subtitle {
  color: #e7e6e6;
  font-size: 1.5rem;
}

.about-us__box {
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  margin: 2rem 0;
  padding: 2rem 1.5rem;
  border: #e8e8e8 px solid;
}

.about-us__icon {
  color: #c2c0c0a9;
  font-size: 6.5rem;
}

.about-us__box-left {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.about-us__box-title {
  font-weight: bold;
  font-size: 1.8rem;
  color: #e7e6e6;
}

.about-us__box-text{
  color: #e7e6e69d;
}

/* Finish About Us Styles */


/* Start Helper Classes */

.title {
  font-size: 2.3rem;
  color: #dfdfdf;
  font-weight: bold;
  line-height: 1.2;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  right: -1rem;
  width: 0.4rem;
  height: 4.4rem;
  background-color: rgb(73, 73, 243);
  border-radius: 5rem;
  transform: rotate(8deg);
}

.title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 250px;
  height: 60%;
  background-color: rgba(74, 101, 255, 0.158);
}
/* Finish Helper Classes */


/* Start Popular Courses Styles */
.popular, .presell {
  margin: 5rem 0;
}

.popular__slider .course-box, .presell__slider .course-box {
  margin: 0 1.3rem;
  box-shadow: 0 0 10px rgba(168, 172, 185, 0.3);
  background-color: #ffffff;
}

.popular__slider .course-box:hover, .presell__slider .course-box {
  transform: none;
}

.presell__slider, .popular__slider {
  margin: 4rem 0;
  position: relative;
}

/* Finish Popular Courses Styles */


/* Start Articles Styles */


.articles {
  margin: 4rem 0;
}

.articles-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articles-header__right {
  display: flex;
  flex-direction: column;
}

.articles-header__text {
  color: #9c9c9c;
  font-size: 1.5rem;
}

.articles-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.articles-header__link:hover {
  color: var(--white-color);
}

.articles-header__icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.article-card {
  margin: 3rem 0;
  transition: all 400ms ease;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(201, 194, 194, 0.151);
}

.article-card:hover {
  transform: translateY(-0.6rem);
}

.article-card__img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.article-card__content {
  padding: 1rem 2rem 3rem 2rem;
  background-color: var(--white-color);
  border-radius: 0 0 1rem 1rem;
}

.article-card__link {
  font-weight: bold;
}

.article-card__text {
  color: #898989;
  font-size: 1.2rem;
  padding: 1rem 0 2.5rem 0;
}

.article-card__btn {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 400ms ease;
}

.article-card__btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

/* Finish Articles Styles */


/* Start Footer Styles */

.footer-widgets {
  background-color: #211e3075;
  border-radius: 1rem;
  padding: 4rem 3.5rem;
  /* position: relative; */
  margin-bottom: 5rem;
}

.footer-widgets__title {
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  position: relative;
  color: #ffffff;
}

.footer-widgets__text {
  color: #ffffff98;
  padding-left: 3%;
  margin-left: 2%;
  border-left: white 2px solid;
}

.footer-widgets__links {
  display: flex;
  flex-direction: column;
  /* color: #ffffff; */
  padding-left: 3%;
  margin-left: 2%;
  border-left: white 2px solid;
}

.footer-widgets__link {
  display: block;
  margin-bottom: 1rem;
  color: #ffffff9c;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f0f2f7; */
  padding: 3rem 0;
}

.footer__copyright-text {
  color: #ffffffe0;
  font-weight: bold;
}

/* Finish Footer Styles */